extends layout

block content
    h1= title
    p Welcome to lab 7.

    // Wrapper
    #wrapper

        // STUDENT INFO
        #studentInfo
            h2 Student Info
            p
                strong Name:
                |  <span id='studentInfoName'></span>
                br
                strong Major:
                |  <span id='studentInfoMajor'></span>
                br
                strong Gender:
                |  <span id='studentInfoGender'></span>
                br
                strong Student ID:
                |  <span id='studentInfoID'></span>
        // /STUDENT INFO

        // STUDENT LIST
        h2 Student List
        #studentList
            table
                thead
                    th StudentName
                    th Email
                    th Delete?
                tbody
        // /STUDENT LIST

        // ADD STUDENT
        h2 Add Student
        #addStudent
            fieldset
                input#inputStudentName(type='text', placeholder='Student Name')
                input#inputStudentEmail(type='text', placeholder='Email')
                br
                input#inputStudentMajor(type='text', placeholder='Major')
                input#inputStudentGender(type='text', placeholder='Gender')
                br
                input#inputStudentID(type='text', placeholder='Student ID')
                br
                button#btnAddStudent Add Student
        // /ADD STUDENT

    // /WRAPPER
